<!DOCTYPE html>
<html>
<head>
  <title>BlocItOff</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
	<%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="container">
		<ul class="nav nav-tabs">
			<li><%=link_to 'Home', root_path%></li>
			<li><%= link_to "Sign In", new_user_session_path, class: 'btn btn-primary' %></li>
		  <li><%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary' %></li>
			<li><%=link_to 'Logout', destroy_user_session_path, class: 'btn btn-primary', method: :delete if current_user%></li>
			<li><%=link_to 'Tasks', current_user, class: 'btn btn-primary' %></li>
		</ul>
	<%= yield %>
	</div>
<br>


</body>
</html>
