<!DOCTYPE html>
<html>

<head>

  <title>BlocItOff</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
	<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

</head>

<body>

  <div class="pull-right user-info">
    <% if current_user %>
      <%= image_tag(current_user.avatar.tiny.url) if current_user.avatar? %>
        Hello <%= link_to (current_user.name || current_user.email), current_user %>!
        <%= link_to edit_user_registration_path, class: 'btn btn-primary btn-sm' do %>
          <span class="glyphicon glyphicon-user"></span>
      <% end %>
      <%= link_to destroy_user_session_path, method: :delete, class: 'btn btn-primary btn-sm' do %>
        <span class="glyphicon glyphicon-log-out"></span>
      <% end %>
        <%= link_to "Logout", destroy_user_session_path, method: :delete %>
        <%= link_to "Edit profile", edit_user_registration_path %>
    <% else %>
      <%= link_to "Sign In", new_user_session_path %> or
      <%= link_to "Sign Up", new_user_registration_path %>
    <% end %>
  </div>

	<div class="container">
		<ul class="nav nav-tabs">
			<li><%= link_to 'Home', root_path%></li>
			<li><%= link_to 'Add a Task', user_path(current_user), class: 'btn btn-primary' %></li>
      <li><%= link_to 'Task List',users_path, class: 'btn btn-primary' %></li>
		</ul>
	<%= yield %>
	</div>

</body>

</html>
